/*
    HTML
*/

* {
    margin: 0;
    padding: 0;
}

html {
    width: auto;
    height: auto;
}

body {
    background-image: linear-gradient(180deg, #9fb7f5 0, #6c90d8 50%, #2c6bbb 100%);
    /*background-image:url("../Images/BackgroundPf.jpg");*/
    background-attachment: fixed;
}

/*
    BANDEAU DU HAUT
*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 17px;
    border-right: 1px solid #bbb;
}

ul.topnav li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

ul.topnav li a.active {
    background-color: #6C90D8;
}

ul.topnav li.navright {
    float: right;
}

@media screen and (max-width: 720px) {
    ul.topnav li {
        width: 100%;
    }

    ul.topnav a {
        width: 100%;
    }
}

/*
    FIN DU BANDEAU DU HAUT
*/

/*
    CORPS
*/

h1 {
    display: flex;
    justify-content: center;
}

/*
    FIN DU CORPS
*/

/*
    BANDEAU DU BAS
*/

.botnav {
    padding: 20px;
}

ul.botnav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

@media screen and (max-width:800px) {
    ul.botnav {
        flex-direction: column;
    }
}

ul.botnav li a {
    text-decoration: none;
    color: white;
}

ul.botnav li a.botActive {
    color: #333;
    font-weight: bold;
}

/*
    FIN DU BANDEAU DU BAS
*/

* {
    box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

a {
    color: inherit;
    transition: 0.25s all ease-in-out;
}

a:visited {
    color: #333;
}

a:focus {
    outline: thin solid #333;
}

a:hover,
a:active {
    outline: 0;
}

a.button {
    align-items: center;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a.button:hover,
a.button:focus {
    background-color: #333;
    box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
    outline: 1px solid #333;
}

a.button:visited {
    color: #fff;
}

ul.carousel-items {
    margin: 0 0 1.5rem;
    padding: 0;
}

li.carousel-item {
    display: inline-block;
    margin-bottom: 10px;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    margin: 0 0 .5rem;
}

main {
    padding: 1rem 2rem;
    margin: auto;
    margin-bottom: -30px;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    margin: 10px;
    height: 20px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    margin: 10px;
    background-color: #333;
    border-radius: 10px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .carousel-item {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.25rem;
    }
}

.titre {
    font-size: xx-large;
}